{% extends 'base.html' %}
{% block start %}
  <form class="mt-5 col-6 mx-auto mb-5 card p-3 shadow-lg" >
    {% csrf_token %}
    {% if messages %}
      {% for message in messages %}
        {% if message.tags == 'success' %}
          <div class="alert alert-success" role="alert">{{ message }}</div>
        {% elif message.tags == 'error' %}
          <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
      {% endfor %}
    {% endif %}
    <h2>Login</h2>
    <hr />
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">UserName</label>
      <input type="text" class="form-control" name="username" id="exampleInputEmail1" aria-describedby="emailHelp" />
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" name="password" id="exampleInputPassword1" />
    </div>
    <p>
      Don't Have Account? <a href="{% url 'register' %}">Register</a>
    </p>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% endblock %}
